@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.details-cast {
  display: flex;
  flex-direction: column;
  align-items: center;

  .details-cast__title {
    font-family: "Open Sans", sans-serif;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    margin: 0 0 0.8rem 0;
    font-weight: 600;
  }

  &__item {
    .person-thumbnail__image {
      border: 2px solid transparent;
      transition: border-color 0.15s ease-in-out;
    }

    &:hover {
      .person-thumbnail__image {
        border-color: rgba(0, 253, 253, 0.5);
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    width: 4rem;
    height: 4rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    background-color: $secondary-color;
    border-radius: 50%;
    transition: background-color .15s ease-in-out;

    &:hover {
    background-color: rgba($secondary-color, 0.7);
    }
  }
}

@include tablet {

  .details-cast {

    &__list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      align-items: start;
    }
  }
}

@include mobile {

  .details-cast {

    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
