@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.recently-viewed {
  padding-top: 5rem;

  a {
    width: 8rem;
  }

  &__title {
    margin: 0 0 1rem 0;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    color: $yellow;

    span {
      color: $soft-red;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .card {

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: $bg-gradient;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

@include tablet {
  .recently-viewed {

    &__title {
      text-align: center;
    }

    &__list {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }
}