@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.pagination {
  display: flex;
  gap: 0.5rem;

  &__btn {
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: $primary-color;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: $yellow;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &__current {
      background-color: $soft-red;
    }

    &__dots {
      padding: 0.2rem 0.5rem;
      color: $font-primary;
      background-color: transparent;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: lighten($yellow, 10%);
    }
  }
}

@include tablet {
  .pagination {
    margin-bottom: 2rem;
  }
}

@include small-mobile {

  .pagination {
    // gap: 1rem;
    
    &__btn {
      padding: 0.3rem 0.6rem;
      font-size: 1rem;
    }
  }
}
