@import "../../common/colors.scss";

.pagination {
  display: flex;
  gap: 1rem;

  &__btn {
    min-width: 2.5rem;
    margin: 0;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: $font-secondary;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:hover,
    &:focus {
      background-color: lighten($font-secondary, 10%);
    }

    &:disabled {
      background-color: $soft-red;
    }
  }
}
