@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.search-results {
  flex: 1 0 auto;
  padding-top: 4.5rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__result {
    background-color: rgba($dark-color, 0.5);

    &:nth-child(odd) {
      background-color: rgba($dark-color, 0.75);
    }
  }

  .pagination {
    align-self: center;
    justify-self: flex-end;
  }

  &__nothing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 3rem;
      color: $soft-red;
    }

    img {
      width: 5rem;
    }
  }
}

@include for-desktop {
  .search-results {

    &__results {
      flex: 1 0 auto;
      height: calc(100vh - 13rem);
    }
  }
}

@include small-tablet {
  .search-results {
    padding-top: 7rem;

    &__container {
      gap: 1rem;
    }
  }
}

@include mobile {
  .search-results {

    &__container {
      gap: 1rem;
    }
  }
}