@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.person {
  padding-top: 5rem;
  margin-bottom: 4rem;

  &__title {
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 2.5rem;
  }
}

@include small-tablet {
  .person {
    padding-top: 8rem;
  }
}