@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.auth {
	min-height: calc(100vh - 4.3rem);
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__container {
		width: 100%;
		height: 70vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
		background-repeat: no-repeat;
		background-position: 5rem center;
		background-size: 35%;
	}

	.form-button.google {
		margin: 0;
		max-width: 350px;
	}

	&__title {
		margin: 0;
	}

	&__form {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
	}
}

@include mobile {
	.auth {
		.form-button.google {
			max-width: 90%;
		}
	}
}

@include small-mobile {
	.auth {
		.form-button.google {
			max-width: 100%;
		}
	}
}

@include tablet {
	.auth {
		&__container {
			justify-content: center;
			align-items: center;
		}

		&__form {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

@include mobile {
	.auth {
		min-height: calc(100vh - 7.4rem);
	}
}
