@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.auth {
	min-height: 80vh;
	padding-top: 6rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;

	&__container	{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 1 0 auto;
	}

	&__bg {
		width: 40%;
		display: block;
		object-fit: contain;
		object-position: center;
	}
}

@include tablet {
	.auth {
		padding-bottom: 5rem;
	}
}

@include small-tablet {
	.auth {
		padding-top: 7rem;

		&__bg {
			display: none;
		}
	}
}

