@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.movie-descr {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.8rem;

  &__image {
    width: 14rem;
    height: auto;
    box-shadow: 0px 4px 15px 0px rgba($dark-color, 0.8);
  }

  p {
    margin: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__headings {
    display: none;
  }

  &__title {
    font-weight: 700;
    margin: 0 0 1rem 0;
    font-size: 1.75rem;
    color: $font-primary;
    text-shadow: 2px 2px 3px rgba($secondary-color, 0.7);
  }

  &__overview {
    margin-bottom: 1rem !important;
    line-height: 1.4;
    text-shadow: 0px 0px 3px $dark-color;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
  }

  &__rating-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:first-child::after {
      content: "";
      position: absolute;
      right: calc(-1rem - 1px);
      width: 1px;
      height: 50%;
      background-color: $font-primary;
    }
  }

  &__icon {
    &--star {
      fill: $yellow;
    }

    &--user {
      fill: $soft-red;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__money {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.7rem;
  }

  &__tagline {
    font-style: italic;
    line-height: 1.5;
    max-width: 14rem;
  }

  &__episodes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .trailer-btn {
    width: 10.5rem;
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }
}

@include small-tablet {
  .movie-descr {
    flex-direction: row;

    &__info {
      justify-content: space-between;
    }
    
    &__headings {
      display: flex;
      flex-direction: column;
    }

    &__image {
      height: 21rem;
    }
  }
}

@include mobile {
  .movie-descr {
    flex-direction: column;

    &__info {
      justify-content: center;
      flex-grow: 1;
    }

    &__headings {
      display: none;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    .trailer-btn {
      padding: 0.5rem 0.75rem;
    }
  }
}

@include small-mobile {
  .movie-descr {
    flex-direction: column;

    &__image {
      width: 100%;
      height: auto;
    }
  }
}
