@import '../../../common/colors.scss';
@import '../../../common/mixins.scss';

.form-button {
	width: 12rem;
	margin-top: 3rem;
	padding: 0.75rem 1rem;
	font-family: "Rajdhani", sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	color: $font-primary;
	background-color: rgba($font-secondary, 0.5);
	border: none;
	cursor: pointer;
	transition: background-color .15s ease-in-out;

	&:hover,
	&:focus {
		background-color: rgba($font-secondary, 0.4);
	}

	&:focus {
		outline: none;
		box-shadow: 2px 3px 5px rgba($dark-color, 0.6);
	}
}

@include tablet {
	.form-button {
		margin-top: 0;
		width: 100%;
	}
}