@import '../../../common/colors.scss';
@import '../../../common/mixins.scss';

.login-form {
	width: 320px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	&__title {
		margin: 0;
	}

	&__divider {
		position: relative;
		font-size: 0.9rem;
		text-align: center;
		color: $yellow;

		&::before {
			content: '';
			position: absolute;
			height: 1px;
			width: 45%;
			top: calc(50% - 1px);
			left: 0;
			background-color: currentColor;
		}

		&::after {
			content: '';
			position: absolute;
			height: 1px;
			width: 45%;
			top: calc(50% - 1px);
			right: 0;
			background-color: currentColor;
		}
	}
}

@include tablet {
	.login-form {
		gap: 0.5rem;
	}
}

@include mobile {
	.login-form {
		gap: 3rem;
	}
}

@include small-mobile {
	.login-form {
		width: 100%;
	}
}