@import '../../../common/colors.scss';

.form-input {
	width: 100%;
	position: relative;

	&.shrink {
		.form-input__label {
			top: 0;
			left: 0.5rem;
			font-size: 0.75rem;
			color: $soft-red;
			background-color: $primary-color;
			padding: 0 0.25rem;
		}
	}

	&:focus-within {
		.form-input__label {
			top: 0;
			left: 0.5rem;
			font-size: 0.75rem;
			color: $soft-red;
			background-color: $primary-color;
			padding: 0 0.25rem;
		}
	}

	&__label {
		color: $yellow;
		font-size: 1rem;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 1.2rem;
		top: 50%;
		transform: translateY(-50%);
		transition: 300ms ease all;
	}

	&__input {
		background: none;
		color: $font-primary;
		font-size: 1.125rem;
		line-height: 100%;
		padding: 1rem;
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
		border: 1px solid $soft-red;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			-webkit-text-fill-color: $font-primary;
			transition: background-color 5000s ease-in-out 0s;
			caret-color: $font-primary;
		}

		&:focus {
			outline: none;
		}
	}

	&__input[type='password'] {
		letter-spacing: 0.3em;
	}

	&__error {
		position: absolute;
		left: 0;
		bottom: -1.2rem;
		font-size: 0.8rem;
		letter-spacing: 2px;
		color: $soft-red;
	}

}