@import "../../../common/colors.scss";
@import "../../../common/mixins.scss";

.listing-btn {
	position: relative;
	padding: 0.5rem;
	font-family: "Rajdhani", sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 2px;
	color: $font-secondary;
	background: transparent;
	border: none;
	cursor: pointer;


	&:hover {
		.listing-btn__icon {
			opacity: 1;

			&--down {
				transform: translate(-50%, 0.5rem);
			}

			&--up {
				transform: translate(-50%, -2.25rem);
			}
		}
	}

	&__inner {
		font-family: inherit;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
		opacity: 0;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
}

@include tablet {

	.listing-btn {

		&__inner {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		&--opened {
			margin-top: 2rem;
			padding: 1.5rem 1rem 1rem;
			border: 1px dashed $font-secondary;
			border-radius: 1rem;
			font-size: 1.5rem;
			font-weight: 600;

			.listing-btn__icon {
				&--up {
					opacity: 1;
					transform: translate(-50%, -110%);
				}
			}


			&:hover {
				.listing-btn__icon {
					&--up {
						transform: translate(-50%, -110%);
					}
				}
			}
		}

		&--closed {
			position: absolute;
			bottom: 0;
			right: 0;
			width: calc(100%/3);
			padding-bottom: calc(150%/3 - 2rem);
			// height: 0;
			transform: translateY(-1.5rem);

			.listing-btn__inner {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-weight: 600;
				font-size: 2rem;
			}

			.listing-btn__icon {
				top: 200%;
				font-size: 3rem;
				opacity: 1;
			}
		}
	}
}

@include mobile {
	.listing-btn {
		&--closed {
			width: calc(100%/2);
			padding-bottom: calc(150%/2 - 2rem);
			transform: translateY(-1.5rem);

			.listing-btn__icon {
				top: 150%;
				font-size: 2.5rem;
			}
		}
	}
}


@include small-mobile {
	.listing-btn {

		&:hover {
			.listing-btn__icon--down {
				transform: translate(0, 0);
			}
		}

		&--closed {
			position: static;
			width: 100%;
			padding: 2rem 0 0 0;
			transform: translateY(0);

			.listing-btn__inner {
				width: 100%;
				position: static;
				transform: translate(0, 0);
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.5rem;
				font-weight: 600;
			}

			.listing-btn__icon {
				position: static;
				transform: translate(0, 0);
				font-size: 2.5rem;
			}
		}
	}
}