@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &__title {
    margin: 0 0 1rem 0;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    color: $yellow;

    span {
      color: $soft-red;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.75rem;
    row-gap: 2rem;
    margin-bottom: 1rem;

    .card {
      box-shadow: 0px 0px 7px rgba(#000, 0.5);
    }
  }
}


@include small-tablet {
  .listing {
    position: relative;

    &__list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;
      margin-bottom: 0;
    }
  }
}