@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.4);

  &__content {
    position: relative;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
  }

  &__close-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -1rem;
    right: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    outline: none;
    border: none;
    background-color: $font-primary;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

    &:hover {
      color: $font-primary;
      background-color: $secondary-color;
    }
  }
}

.modal-enter-done {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.modal-exit {
  opacity: 0;
  transform: scale(0.4);
}
