@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.credits-list {
  &__title {
    margin: 0;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
  }

  &__header {
    background-color: $dark-color;
  }
}

.credits-item {
  background-color: rgba($dark-color, 0.5);
  transition: background-color 0.15s ease-in-out;
  &:nth-child(odd) {
    background-color: rgba($dark-color, 0.25);
  }

  &:hover {
    background-color: rgba($dark-color, 0.75);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__image {
    width: 6rem;
    height: 9rem;
    margin: 0.5rem;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 5px rgba($font-secondary, 0.5);
  }

  &__descr {
    min-width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
  }

  &__character {
    font-size: 1.2rem;
    color: $yellow;
  }

  &__job {
    margin: 0;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.5rem;
    color: $yellow;
  }
}

@include mobile {
  .credits-item {

    &__link {
      gap: 1rem;
    }

    &__descr {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__job {
      font-size: 1.25r  em;
    }
  }
}