@import "../../common/colors.scss";

.header {
  width: 100%;
  position: fixed;
  padding: 0.5rem 0;
  background-color: $primary-color;
  box-shadow: 0px 3px 10px 0px rgba($dark-color, 0.75);
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // &__logo {
  //   position: relative;
  //   font-size: 1.25rem;
  //   font-weight: 600;
  //   color: $font-primary;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     bottom: -8px;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     width: 0;
  //     height: 2px;
  //     background-color: $font-primary;
  //     border-radius: 1px;
  //     transition: width 0.15s ease-in-out;
  //   }

  //   &:hover {
  //     &::before {
  //       width: 100%;
  //     }
  //   }
  // }

  &__right {
    display: flex;
    align-items: center;
    gap: 15rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__nav-link {
    color: $font-primary;
    transition: color 0.15s ease-in-out;

    &--login {
      &:hover {
        color: $yellow;
      }
    }

    &--signin {
      &:hover {
        color: $soft-red;
      }
    }
  }
}
