@import "../../common/mixins";

.filmography-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 0;

  &__image {
    width: 5rem;
    height: 7.5rem;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    gap: 2rem;
  }

  &__title {
    margin: 0 0 1rem 0;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .genres {
    span {
      font-size: 0.9rem;
      &:not(:last-child)::after {
        content: "|";
      }
    }
  }

  &__release-date {
    font-size: 1.2rem;
  }
}

@include small-tablet {
  .filmography-item {
    gap: 1rem;
  }
}

@include mobile {
  .filmography-item {
    padding-left: 1rem;
    padding-top: 1rem;
    flex-direction: row-reverse;
    justify-content: space-between;

    align-items: flex-start;

    &__info {
      flex-direction: column;
      align-items: flex-start;
      flex: 0 1 auto;
      gap: 1rem;
    }

    &__title {
      font-size: 1.25rem;
    }
  }
}
