@import '../../../common/colors.scss';

.password-input {
	position: relative;
	width: 100%;
}

.toggle-password {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	font-size: 1.5rem;
	color: $yellow;
	background: none;
	outline: none;
	border: none;
	line-height: 0;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	transition: background-color .15s ease-in-out;

	&:disabled {
		color: rgba($yellow, 0.5);
		cursor: auto;

		&:hover {
			background-color: transparent;
		}
	}

	&:hover {
		background-color: rgba($yellow, 0.1);
	}
}