@import '../../common/colors.scss';

.google-button {
	padding: 0;
	width: 100%;
	align-items: center;
	display: flex;
	color: $font-primary;
	background-color: #4286f5;
	border: 3px solid #4286f5;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	outline: none;

	&:hover,
	&:focus {
		background-color: rgba(#4286f5, 0.8);
		border: 3px solid rgba(#4286f5, 0.8);
	}

	&__icon {
		width: 2.4rem;
		height: 2.4rem;
		background-color: $font-primary;
	}

	&__text {
		flex: 1 0 auto;
		font-size: 1.1rem;
	}
}