@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.search {
  position: relative;
  border-radius: 0.5rem;
  background-color: $font-primary;
  transition: background-color 0.8s ease-in-out;

  .search-bar__input {
    width: 100%;
  }
}

@include small-tablet {
  .search {
    order: 3;
    flex-basis: 100%;
    background-color: $font-primary;

    .search-bar__input {
      width: 100%;
    }

    &:focus-within {
      .search-bar__input {
        width: 100%;
      }
    }

    .search-bar {
      width: 100%;
    }
  }
}