@import "../../common/colors.scss";
@import "../../common/mixins.scss";

.search {
  position: relative;
  border-radius: 0.5rem;
  transition: background-color 0.8s ease-in-out;

  &:hover,
  &:focus-within {
    background-color: $font-primary;

    .search-bar__input {
      width: 25rem;
    }

    .search-bar__icon {
      color: $primary-color;
    }
  }
}

@include small-tablet {
  .search {
    order: 3;
    flex-basis: 100%;
    &:hover,
    &:focus-within {
      background-color: $font-primary;

      .search-bar__input {
        width: 100%;
      }
    }
  }
}