@import "../../common/colors.scss";

.trailer-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border: none;
  gap: 0.6rem;
  padding: 0.75rem 1rem;
  color: $font-primary;
  background-color: rgba($font-secondary, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: rgba($font-secondary, 0.4);
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}
