@import "./colors.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 14px;
  color: $font-primary;
  background-color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1150px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@include small-mobile {
  .container {
    padding: 0 10px;
  }
}
